@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000000;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out, left 0.2s ease-out, top 0.2s ease-out;
    z-index: 9999;
}

.sub-heading {
    display: inline-block;
    padding: 6px 14px 6px 6px !important;
    border: 1px solid #ffffff0d;
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    opacity: 1;
}

.btn-blur {
    backdrop-filter: blur(2.5px);
    background-color: rgb(255 255 255 / 15%)
}